// Colors
$off-black: #0f6669;
$off-white: #fbfbfc;
$dark-blue: #074243;
$blue: #97c6ba;
$light-blue: #116466;
$purple: #97c6ba;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
